<div>
  <h1> Welcome to FRC Team Manager!</h1>
</div>

<div>
    <%= link_to "Sign Up", new_user_url %> <br>
    <%= link_to "Log in with Google!", "/auth/google_oauth2" , method: "post" %> 
    <%= link_to "Log in", new_session_url %>
<div>